body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #1D415F;
  color: #688DAB;
  /* font-family: 'Nerko One', cursive; */
  font-family: 'Exo 2', sans-serif;

/* background-image: url("../public/tekstura-tekstury-fon-linii.jpg"); */
/* background-image: url("https://cdn.pixabay.com/photo/2016/11/21/17/59/blackboard-1846865_1280.jpg"); */
  /* background-image: url("../public/photo-1514480573427-1f96cbed6a27 (1) copy.jpg"); */
  background-image: url("../public/Screenshot 2022-11-27 at 5.46.14 PM.png");
  background-size: cover;
}

a {
  color: #688DAB;
  text-decoration: none;
  
}

.white {
  color: rgba(255, 255, 255, 0.767);
}

.white-light {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  width: 100%;
  height: 100%;
}

/* ROOT */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;;
}


.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.login-outer {
  height: 100%;
  margin-top: 20%;
}



form {
  display: flex;
}

input {
  margin-top: 10%;
}

button {
  margin-top: 10%;
}
.button {
  margin-top: 10%;
}

.navbar-outer { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.outer-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 70%;
  margin-top: 2%;
  border: solid rgba(255, 255, 255, 0.81) 4px;
  border-radius: 25px;

  /* background-image: url("../public/tekstura-tekstury-fon-linii.jpg"); */
  background-color: #1d415f7e;
}

.outer-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: solid green 1px; */
  height: 90%;
  align-items: center;
  justify-content: space-around;
}

.week-time-card {
  width: 22%;
  height: 20%;
  /* border: solid black 1px; */
  border-radius: 25px;
  background-color: #496378f0;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5vw;
  text-align: center;
}


.day-time-card {
  width: 25%;
  height: 25%;
  text-align: center;
  border: solid orange 1px;
}



.h45 {
  height: 45%;
}

/* BOLD */
.bold {
  font-weight: bold;
}

/* NAVBAR */
.navbar-outer {
  margin-top: 2%;
  background-color: white;
  width: 100%;
  height: 6%;
}

.navbar-left {
  /* background-color: orange; */
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.navbar-right {
  /* background-color: orange; */
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
}

.nav-span {
  width: 35%;
  /* border: 1px solid red; */
  font-size: 1.8vw;
  /* text-align: center; */
}

/* MY RESERVATIONS */
.inner-flex-reservation {
  display: flex;
  flex-direction: column;
}

.reservation-card {
  width: 65%;
  height: 20%;
  /* border: solid black 1px; */
  border-radius: 25px;
  background-color: #496378f0;
  color: white;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 2%;
}